/* game cells*/
.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

/*--Div container containing all of the game elements*/
#gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  margin:100px auto;
  width:400px;
}

/*cell style*/
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

button:hover {
  background-color: grey;
  color: white;
}
